@use 'mixins/config' as *;
@use 'mixins/mixins' as *;
@use 'mixins/function' as *;

@include b(description) {
  @include e(name) {
    max-width: 200px;
    word-wrap: break-word;
  }
  @include e(label) {
    min-width: 80px;

    &.is-required {
      &::before {
        content: '*';
        color: getCssVar('color-danger');
        margin-right: 4px;
      }
    }
  }

  &.no-border {
    .#{$el-namespace + -descriptions__body} {
      .#{$el-namespace + -descriptions__table} {
        &.is-bordered {
          .#{$el-namespace + -descriptions__cell} {
            border: 0;
          }
        }
      }

      .#{$el-namespace + -descriptions__label} {
        &.#{$el-namespace + -descriptions__cell} {
          &.is-bordered-label {
            background-color: getCssVar('fill-color-blank');
          }
        }
      }
    }
  }
}
