@use 'mixins/mixins' as *;
@use 'mixins/config' as *;
@use 'mixins/function' as *;
@use 'var/index';

$layout-height: calc(100vh - var(--plus-header-height));

@include b(layout) {
  height: 100vh;
  overflow: hidden;

  &.#{$el-namespace + -container} {
    flex-direction: column;
  }

  .#{$plus-namespace + -sidebar} {
    height: $layout-height;
  }

  .#{$plus-namespace + -layout-main} {
    height: $layout-height;
    flex: 1;
  }

  .#{$plus-namespace + -layout-content} {
    padding-right: 10px;
  }
}
